
.titleCol {
  font-size: 15pt;
  font-weight: 700;
  vertical-align: middle;
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #00c3ff79
}

.control-label {
  font-weight: 300 !important;
}

.checkbox {
  padding-left: 10px !important;
}

/* .checkbox label {
  font-weight: 300 !important;
} */


.navbar-default {
  background: none !important;
}

.navbar-brand {
  height: 80px !important;
  line-height: 50px;
  font-size: 40px;
  font-weight: 200;
}

.navbar-nav {
  height: 80px !important;
  font-size: 20px;
}

.navbar-nav > li > a {
  height: 80px !important;
  line-height: 60px;
  font-weight: 300;
  padding-left: 30px;
  padding-right: 30px;
}

::-webkit-contacts-auto-fill-button {
  visibility: hidden;
}

.tooltip-header {
  font-weight:500;
  font-style: italic;
}

.quickRegionSelect {
  margin-top: -15px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.quickRegionSelect > a {
  color: #535353;
  margin-right :20px;
}

.badge-re {
  font-size: 12pt;
  font-weight: 700;
  background-color: #ffc107;
  margin-left: 20px;
  margin-bottom: 5px;
  text-align: right;
}

.reBox {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
  line-height: 20pt;
}

#incidenceSmoothing-label {
  margin-top: 10px;
}

.moreImportantBox {
  line-height: 20px;
  margin-bottom: 20px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #ff0055;
}

.moreImportantBox >* a {
  color: black !important;
}
